.PlayerCard {
  max-width: 300px;
  padding: 1em;
  cursor: pointer;
}

.PlayerCard__item + .PlayerCard__item {

}

.PlayerCard__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PlayerCard__item--highlighted > .PlayerCard, .PlayerCard:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.PlayerCard__container {
  text-align: center;
}

.PlayerCard__name {

}

.PlayerCard__club {

}
