.SliderCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SliderCard__image {
  width: 100%;
  max-width: 450px;
}

.SliderCard__title {
  font-size: 1em;
}
