.SearchPlayer__autocomplete {
  margin: 1em 0;
  border: 1px solid black;
  background: rgba(12, 177, 181, 0.3);
  padding: 1em;
}

.SearchPlayer__result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchPlayer__resultCard {
  padding: 1em;
}

.SearchPlayer__resultCardLeague {
  color: grey;
}
